Pet Feeder Flow.json
[{"id":"8f5bcf27.de88","type":"tab","label":"Pet Feeder","disabled":false,"info":"Pet Feeder.\nMade by Tom Kaufman and Katya Fichman"},{"id":"479aee27.6b4bd","type":"ui_group","z":"","name":"Water","tab":"d49aa2dd.58d4c","disp":true,"width":"6","collapse":false},{"id":"c744c61f.43c208","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d71197c.217116","type":"ui_group","z":"","name":"Food","tab":"d49aa2dd.58d4c","disp":true,"width":"6","collapse":false},{"id":"57b66f5b.afe3e","type":"persist-store","z":"","filename":"persistance.json","interval":"60"},{"id":"edba270f.0d0e88","type":"telegram bot","z":"","botname":"YOUR TELEGRAM BOT'S USERNAME","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d49aa2dd.58d4c","type":"ui_tab","z":"","name":"Pet Feeder","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f5020c3d.7b514","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pet Feeder","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8eb7c36f.9ffc7","type":"ui_gauge","z":"8f5bcf27.de88","name":"Tank's Water Level","group":"479aee27.6b4bd","order":1,"width":0,"height":0,"gtype":"wave","title":"Tank's Water Level","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b30202","#e6e600","#32cf59"],"seg1":"15","seg2":"40","x":750,"y":160,"wires":[]},{"id":"18453885.b8a2c7","type":"ui_gauge","z":"8f5bcf27.de88","name":"Bowl's Water Level","group":"479aee27.6b4bd","order":4,"width":0,"height":0,"gtype":"wave","title":"Bowl's Water Level","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#4dcb36"],"seg1":"15","seg2":"40","x":750,"y":260,"wires":[]},{"id":"cf2adcb3.e1ad6","type":"ui_led","z":"8f5bcf27.de88","group":"479aee27.6b4bd","order":2,"width":0,"height":0,"label":"Is pet drinking right now?","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Drinking Status","x":600,"y":420,"wires":[]},{"id":"ba2660da.d9b87","type":"ui_button","z":"8f5bcf27.de88","name":"Dispense Button","group":"479aee27.6b4bd","order":3,"width":0,"height":0,"passthru":false,"label":"Dispense Water","tooltip":"","color":"","bgcolor":"","icon":"","payload":"WaterDispenseTimeButton","payloadType":"flow","topic":"water/dispense","x":160,"y":360,"wires":[["821239ee.bb6c18"]]},{"id":"821239ee.bb6c18","type":"mqtt out","z":"8f5bcf27.de88","name":"Dispense Water","topic":"water/dispense","qos":"","retain":"","broker":"c744c61f.43c208","x":1180,"y":360,"wires":[]},{"id":"c3d3d1f8.0b562","type":"mqtt in","z":"8f5bcf27.de88","name":"Water Bowl Weight","topic":"water/bowlSensor","qos":"0","datatype":"auto","broker":"c744c61f.43c208","x":170,"y":260,"wires":[["9cf2edb7.55577"]]},{"id":"ed1d2b59.cca9f8","type":"mqtt in","z":"8f5bcf27.de88","name":"Pet's Distance","topic":"water/petDistance","qos":"0","datatype":"utf8","broker":"c744c61f.43c208","x":150,"y":420,"wires":[["ebaddb2b.82d808"]]},{"id":"9e530361.9d8a2","type":"ui_gauge","z":"8f5bcf27.de88","name":"Tank's Food Level","group":"3d71197c.217116","order":1,"width":0,"height":0,"gtype":"donut","title":"Tank's Food Level","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b30202","#e6e600","#32cf59"],"seg1":"15","seg2":"40","x":2270,"y":160,"wires":[]},{"id":"1b0192d1.84053d","type":"ui_gauge","z":"8f5bcf27.de88","name":"Bowl's Food Level","group":"3d71197c.217116","order":4,"width":0,"height":0,"gtype":"donut","title":"Bowl's Food Level","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#4dcb36"],"seg1":"15","seg2":"40","x":2270,"y":280,"wires":[]},{"id":"1b054b3d.942af5","type":"ui_button","z":"8f5bcf27.de88","name":"Dispense Button","group":"3d71197c.217116","order":3,"width":0,"height":0,"passthru":false,"label":"Dispense Food","tooltip":"","color":"","bgcolor":"","icon":"","payload":"FoodDispenseTimeButton","payloadType":"flow","topic":"food/dispense","x":1680,"y":380,"wires":[["1e4dc6d3.612339"]]},{"id":"f12351e2.5decc","type":"mqtt in","z":"8f5bcf27.de88","name":"Food Tank Sensor","topic":"food/tankSensor","qos":"0","datatype":"auto","broker":"c744c61f.43c208","x":1690,"y":160,"wires":[["dc4fa422.95aee8"]]},{"id":"2b14e983.39f7f6","type":"mqtt in","z":"8f5bcf27.de88","name":"Food Bowl Weight","topic":"food/bowlSensor","qos":"0","datatype":"auto","broker":"c744c61f.43c208","x":1690,"y":280,"wires":[["5185d074.edf09"]]},{"id":"e6b4da79.1f6938","type":"mqtt in","z":"8f5bcf27.de88","name":"Alerts","topic":"alerts","qos":"0","datatype":"utf8","broker":"c744c61f.43c208","x":930,"y":640,"wires":[["22b03a0.14820c6","95a7c3f0.8af9"]]},{"id":"22b03a0.14820c6","type":"ui_toast","z":"8f5bcf27.de88","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alert","name":"Popup message","x":1120,"y":640,"wires":[]},{"id":"e2c5380c.d26208","type":"function","z":"8f5bcf27.de88","name":"Drinking Alert Message","func":"if (msg.payload == \"true\" && flow.get('PetDrinkingAlert') == \"true\") {\n    msg.payload = \"Pet is drinking right now!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["f0b4a0ac.12693"]]},{"id":"9cdf9ef8.c6caa","type":"mqtt in","z":"8f5bcf27.de88","name":"Water Tank Sensor","topic":"water/tankSensor","qos":"2","datatype":"auto","broker":"c744c61f.43c208","x":170,"y":160,"wires":[["f768b31b.823bf"]]},{"id":"ebaddb2b.82d808","type":"function","z":"8f5bcf27.de88","name":"Is Pet Drinking","func":"if (parseInt(msg.payload) > 0 && parseInt(msg.payload) < flow.get('PetIsDrinkingDistanceVariable')) {\n    msg.payload = \"true\";\n}\nelse {\n    msg.payload = \"false\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["cf2adcb3.e1ad6","e2c5380c.d26208"]]},{"id":"1e4dc6d3.612339","type":"mqtt out","z":"8f5bcf27.de88","name":"Dispense Food","topic":"food/dispense","qos":"","retain":"","broker":"c744c61f.43c208","x":2520,"y":380,"wires":[]},{"id":"f20de60f.e8f418","type":"ui_led","z":"8f5bcf27.de88","group":"3d71197c.217116","order":2,"width":0,"height":0,"label":"Is pet eating right now?","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Eating Status","x":2300,"y":440,"wires":[]},{"id":"c50a3c1.15995c","type":"mqtt in","z":"8f5bcf27.de88","name":"Pet's Distance","topic":"food/petDistance","qos":"0","datatype":"utf8","broker":"c744c61f.43c208","x":1670,"y":440,"wires":[["8e5f22fe.eb584"]]},{"id":"fd332206.defea","type":"function","z":"8f5bcf27.de88","name":"Eating Message","func":"if (msg.payload == \"true\" && flow.get('PetEatingAlert') == \"true\") {\n    msg.payload = \"Pet is eating right now!\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2300,"y":500,"wires":[["e9202118.7dc1c"]]},{"id":"8e5f22fe.eb584","type":"function","z":"8f5bcf27.de88","name":"Is Pet Eating","func":"if (parseInt(msg.payload) > 0 && parseInt(msg.payload) < flow.get('PetIsEatingDistanceVariable')) {\n    msg.payload = \"true\";\n}\nelse {\n    msg.payload = \"false\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":440,"wires":[["f20de60f.e8f418","fd332206.defea"]]},{"id":"e68e052b.ddea78","type":"function","z":"8f5bcf27.de88","name":"Refill message","func":"if (msg.payload <= flow.get('WaterTankLevelAlert')) {\n    msg.payload = \"Water tank refill is needed.\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["a5bceea5.94319"]]},{"id":"92b855f5.3fd488","type":"mqtt out","z":"8f5bcf27.de88","name":"Alerts","topic":"alerts","qos":"","retain":"","broker":"c744c61f.43c208","x":1490,"y":300,"wires":[]},{"id":"51d8624c.8a38ec","type":"function","z":"8f5bcf27.de88","name":"Refill message","func":"if (msg.payload <= flow.get('FoodTankLevelAlert')) {\n    msg.payload = \"Food tank refill is needed.\";\n    return msg;\n}","outputs":1,"noerr":0,"x":2260,"y":220,"wires":[["b5a8942b.03ba78"]]},{"id":"ed8f125d.f0f97","type":"function","z":"8f5bcf27.de88","name":"Empty Bowl Message","func":"if (msg.payload <= flow.get('FoodBowlLevelAlert')) {\n    msg.payload = \"Food bowl is empty.\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2280,"y":320,"wires":[["78e48cd2.691864"]]},{"id":"32d4411d.d409ee","type":"ui_switch","z":"8f5bcf27.de88","name":"autoWaterSwitch","label":"Automatic Water Dispense","tooltip":"","group":"479aee27.6b4bd","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"autoWaterSwitch","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":170,"y":520,"wires":[["48cbf2aa.21e8cc","db7e55c.96d87a8"]]},{"id":"2eaae7e4.b50b18","type":"function","z":"8f5bcf27.de88","name":"Execute refill if on auto mode","func":"if (msg.payload <= flow.get('WaterBowlAlertOrRefillPercentage') && flow.get('autoWater') == \"true\") {\n    msg.payload = flow.get('WaterDispenseTimeAuto');\n    return msg;\n}","outputs":1,"noerr":0,"x":780,"y":340,"wires":[["821239ee.bb6c18"]]},{"id":"48cbf2aa.21e8cc","type":"function","z":"8f5bcf27.de88","name":"Auto water refill variable","func":"flow.set('autoWater',msg.payload);\n","outputs":1,"noerr":0,"x":950,"y":520,"wires":[[]]},{"id":"cd4a4356.89803","type":"ui_dropdown","z":"8f5bcf27.de88","name":"Dispense Time 1","label":"Dispense Time 1","tooltip":"","place":"OFF","group":"3d71197c.217116","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"-1","type":"str"},{"label":"00:00","value":"0","type":"str"},{"label":"01:00","value":"1","type":"str"},{"label":"02:00","value":"2","type":"str"},{"label":"03:00","value":"3","type":"str"},{"label":"04:00","value":"4","type":"str"},{"label":"05:00","value":"5","type":"str"},{"label":"06:00","value":"6","type":"str"},{"label":"07:00","value":"7","type":"str"},{"label":"08:00","value":"8","type":"str"},{"label":"09:00","value":"9","type":"str"},{"label":"10:00","value":"10","type":"str"},{"label":"11:00","value":"11","type":"str"},{"label":"12:00","value":"12","type":"str"},{"label":"13:00","value":"13","type":"str"},{"label":"14:00","value":"14","type":"str"},{"label":"15:00","value":"15","type":"str"},{"label":"16:00","value":"16","type":"str"},{"label":"17:00","value":"17","type":"str"},{"label":"18:00","value":"18","type":"str"},{"label":"19:00","value":"19","type":"str"},{"label":"20:00","value":"20","type":"str"},{"label":"21:00","value":"21","type":"str"},{"label":"22:00","value":"22","type":"str"},{"label":"23:00","value":"23","type":"str"}],"payload":"","topic":"-1","x":1690,"y":580,"wires":[["80136fb8.1fad8","5ddc0660.b5fb18"]]},{"id":"ac5871f.7e2299","type":"ui_dropdown","z":"8f5bcf27.de88","name":"Dispense Time 2","label":"Dispense Time 2","tooltip":"","place":"OFF","group":"3d71197c.217116","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"-1","type":"str"},{"label":"00:00","value":"0","type":"str"},{"label":"01:00","value":"1","type":"str"},{"label":"02:00","value":"2","type":"str"},{"label":"03:00","value":"3","type":"str"},{"label":"04:00","value":"4","type":"str"},{"label":"05:00","value":"5","type":"str"},{"label":"06:00","value":"6","type":"str"},{"label":"07:00","value":"7","type":"str"},{"label":"08:00","value":"8","type":"str"},{"label":"09:00","value":"9","type":"str"},{"label":"10:00","value":"10","type":"str"},{"label":"11:00","value":"11","type":"str"},{"label":"12:00","value":"12","type":"str"},{"label":"13:00","value":"13","type":"str"},{"label":"14:00","value":"14","type":"str"},{"label":"15:00","value":"15","type":"str"},{"label":"16:00","value":"16","type":"str"},{"label":"17:00","value":"17","type":"str"},{"label":"18:00","value":"18","type":"str"},{"label":"19:00","value":"19","type":"str"},{"label":"20:00","value":"20","type":"str"},{"label":"21:00","value":"21","type":"str"},{"label":"22:00","value":"22","type":"str"},{"label":"23:00","value":"23","type":"str"}],"payload":"","topic":"-1","x":1690,"y":640,"wires":[["ae1562fe.906c2","f268f920.0df4e8"]]},{"id":"5119252d.dbec1c","type":"ui_dropdown","z":"8f5bcf27.de88","name":"Dispense Time 3","label":"Dispense Time 3","tooltip":"","place":"OFF","group":"3d71197c.217116","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"OFF","value":"-1","type":"str"},{"label":"00:00","value":"0","type":"str"},{"label":"01:00","value":"1","type":"str"},{"label":"02:00","value":"2","type":"str"},{"label":"03:00","value":"3","type":"str"},{"label":"04:00","value":"4","type":"str"},{"label":"05:00","value":"5","type":"str"},{"label":"06:00","value":"6","type":"str"},{"label":"07:00","value":"7","type":"str"},{"label":"08:00","value":"8","type":"str"},{"label":"09:00","value":"9","type":"str"},{"label":"10:00","value":"10","type":"str"},{"label":"11:00","value":"11","type":"str"},{"label":"12:00","value":"12","type":"str"},{"label":"13:00","value":"13","type":"str"},{"label":"14:00","value":"14","type":"str"},{"label":"15:00","value":"15","type":"str"},{"label":"16:00","value":"16","type":"str"},{"label":"17:00","value":"17","type":"str"},{"label":"18:00","value":"18","type":"str"},{"label":"19:00","value":"19","type":"str"},{"label":"20:00","value":"20","type":"str"},{"label":"21:00","value":"21","type":"str"},{"label":"22:00","value":"22","type":"str"},{"label":"23:00","value":"23","type":"str"}],"payload":"","topic":"-1","x":1690,"y":700,"wires":[["4b854ecb.bb24","5489b56.f31f44c"]]},{"id":"80136fb8.1fad8","type":"persist in","z":"8f5bcf27.de88","name":"FoodTimer1","storageNode":"57b66f5b.afe3e","x":1910,"y":560,"wires":[]},{"id":"ae1562fe.906c2","type":"persist in","z":"8f5bcf27.de88","name":"FoodTimer2","storageNode":"57b66f5b.afe3e","x":1910,"y":620,"wires":[]},{"id":"4b854ecb.bb24","type":"persist in","z":"8f5bcf27.de88","name":"FoodTimer3","storageNode":"57b66f5b.afe3e","x":1910,"y":680,"wires":[]},{"id":"b5c198a0.edcaf8","type":"cronplus","z":"8f5bcf27.de88","name":"Food Dispenser Timer","outputField":"payload","timeZone":"","options":[],"x":2560,"y":640,"wires":[["e6259378.62f53"]]},{"id":"248d51b6.6f644e","type":"persist out","z":"8f5bcf27.de88","name":"FoodTimer1","storageNode":"57b66f5b.afe3e","x":2090,"y":560,"wires":[["5ddc0660.b5fb18","cd4a4356.89803"]]},{"id":"52613b87.091334","type":"persist out","z":"8f5bcf27.de88","name":"FoodTimer2","storageNode":"57b66f5b.afe3e","x":2090,"y":620,"wires":[["f268f920.0df4e8","ac5871f.7e2299"]]},{"id":"3fb4e093.71aea","type":"persist out","z":"8f5bcf27.de88","name":"FoodTimer3","storageNode":"57b66f5b.afe3e","x":2090,"y":680,"wires":[["5489b56.f31f44c","5119252d.dbec1c"]]},{"id":"5ddc0660.b5fb18","type":"function","z":"8f5bcf27.de88","name":"FoodTimer1 to CRON+","func":"if (msg.payload == '-1' || typeof msg.payload != \"string\") {\n    msg.payload = [{\"command\" : \"remove\", \"name\" : \"FoodTimer1\"}]\n}\nelse {\n    msg.payload = [{\"command\" : \"add\", \"name\" : \"FoodTimer1\", \"expression\" : \"0 0 \" + msg.payload + \" * * *\", \"payload\" : flow.get('FoodDispenseTimeAuto'), \"type\" : \"str\"}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":580,"wires":[["b5c198a0.edcaf8"]]},{"id":"f268f920.0df4e8","type":"function","z":"8f5bcf27.de88","name":"FoodTimer2 to CRON+","func":"if (msg.payload == '-1' || typeof msg.payload != \"string\") {\n    msg.payload = [{\"command\" : \"remove\", \"name\" : \"FoodTimer2\"}]\n}\nelse {\n    msg.payload = [{\"command\" : \"add\", \"name\" : \"FoodTimer2\", \"expression\" : \"0 0 \" + msg.payload + \" * * *\", \"payload\" : flow.get('FoodDispenseTimeAuto'), \"type\" : \"str\"}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":640,"wires":[["b5c198a0.edcaf8"]]},{"id":"5489b56.f31f44c","type":"function","z":"8f5bcf27.de88","name":"FoodTimer3 to CRON+","func":"if (msg.payload == '-1' || typeof msg.payload != \"string\") {\n    msg.payload = [{\"command\" : \"remove\", \"name\" : \"FoodTimer3\"}]\n}\nelse {\n    msg.payload = [{\"command\" : \"add\", \"name\" : \"FoodTimer3\", \"expression\" : \"0 0 \" + msg.payload + \" * * *\", \"payload\" : flow.get('FoodDispenseTimeAuto'), \"type\" : \"str\"}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":700,"wires":[["b5c198a0.edcaf8"]]},{"id":"a5bceea5.94319","type":"delay","z":"8f5bcf27.de88","name":"Output message every 3 hours","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1230,"y":200,"wires":[["92b855f5.3fd488"]]},{"id":"b5a8942b.03ba78","type":"delay","z":"8f5bcf27.de88","name":"Output message every 3 hours","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2570,"y":220,"wires":[["6496bdc.1cff844"]]},{"id":"78e48cd2.691864","type":"delay","z":"8f5bcf27.de88","name":"Output message every 3 hours","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2570,"y":320,"wires":[["6496bdc.1cff844"]]},{"id":"b23530ff.40684","type":"function","z":"8f5bcf27.de88","name":"Empty bowl message if off auto mode","func":"if (msg.payload <= flow.get('WaterBowlAlertOrRefillPercentage') && (flow.get('autoWater') == undefined || flow.get('autoWater') == \"false\")) {\n    msg.payload = \"Water bowl is empty.\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["7c9b956d.17fc6c"]]},{"id":"7c9b956d.17fc6c","type":"delay","z":"8f5bcf27.de88","name":"Output message every 3 hours","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1230,"y":300,"wires":[["92b855f5.3fd488"]]},{"id":"ec63c445.ada968","type":"inject","z":"8f5bcf27.de88","name":"Empty Water Bowl Weight","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":860,"wires":[["ecd870f8.53fab"]]},{"id":"ecd870f8.53fab","type":"function","z":"8f5bcf27.de88","name":"Empty Water Bowl Weight Variable","func":"flow.set('WaterBowlEmptyWeight', msg.payload);","outputs":1,"noerr":0,"x":1120,"y":860,"wires":[[]]},{"id":"8081e300.f42dd","type":"inject","z":"8f5bcf27.de88","name":"Full Water Bowl Weight","topic":"","payload":"250","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":920,"wires":[["186e5ae9.578fd5"]]},{"id":"186e5ae9.578fd5","type":"function","z":"8f5bcf27.de88","name":"Full Water Bowl Weight Variable","func":"flow.set('WaterBowlFullWeight', msg.payload);","outputs":1,"noerr":0,"x":1110,"y":920,"wires":[[]]},{"id":"37b40e3.645e5f2","type":"inject","z":"8f5bcf27.de88","name":"Empty Water Tank Value","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":980,"wires":[["1684f180.e539ff"]]},{"id":"1684f180.e539ff","type":"function","z":"8f5bcf27.de88","name":"Empty Water Tank Variable","func":"flow.set('WaterTankEmpty', msg.payload);","outputs":1,"noerr":0,"x":1100,"y":980,"wires":[[]]},{"id":"9a3fcf1f.e6a92","type":"inject","z":"8f5bcf27.de88","name":"Full Water Tank Value","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":720,"y":1040,"wires":[["9856ac2a.4351b"]]},{"id":"9856ac2a.4351b","type":"function","z":"8f5bcf27.de88","name":"Full Water Tank Variable","func":"flow.set('WaterTankFull', msg.payload);","outputs":1,"noerr":0,"x":1090,"y":1040,"wires":[[]]},{"id":"680d9ed5.61ec4","type":"inject","z":"8f5bcf27.de88","name":"Empty Food Bowl Weight","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1630,"y":860,"wires":[["4f952380.4d3e3c"]]},{"id":"4f952380.4d3e3c","type":"function","z":"8f5bcf27.de88","name":"Empty Food Bowl Weight Variable","func":"flow.set('FoodBowlEmptyWeight', msg.payload);","outputs":1,"noerr":0,"x":2020,"y":860,"wires":[[]]},{"id":"14768268.c7e19e","type":"inject","z":"8f5bcf27.de88","name":"Full Food Bowl Weight","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1620,"y":920,"wires":[["4bb1a221.58abec"]]},{"id":"4bb1a221.58abec","type":"function","z":"8f5bcf27.de88","name":"Full Food Bowl Weight Variable","func":"flow.set('FoodBowlFullWeight', msg.payload);","outputs":1,"noerr":0,"x":2010,"y":920,"wires":[[]]},{"id":"b3054aa.e385db8","type":"inject","z":"8f5bcf27.de88","name":"Empty Food Tank Value","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1630,"y":980,"wires":[["ebfb9b57.089f98"]]},{"id":"ebfb9b57.089f98","type":"function","z":"8f5bcf27.de88","name":"Empty Food Tank Variable","func":"flow.set('FoodTankEmpty', msg.payload);","outputs":1,"noerr":0,"x":1990,"y":980,"wires":[[]]},{"id":"c3e83246.83339","type":"inject","z":"8f5bcf27.de88","name":"Full Food Tank Value","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1620,"y":1040,"wires":[["97adf17f.e4eab"]]},{"id":"97adf17f.e4eab","type":"function","z":"8f5bcf27.de88","name":"Full Food Tank Variable","func":"flow.set('FoodTankFull', msg.payload);","outputs":1,"noerr":0,"x":1990,"y":1040,"wires":[[]]},{"id":"c067d928.83f848","type":"inject","z":"8f5bcf27.de88","name":"Water Bowl Level Alert/Auto Refill (Percent)","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":790,"y":1100,"wires":[["60022470.304dac"]]},{"id":"60022470.304dac","type":"function","z":"8f5bcf27.de88","name":"Water Bowl Refill Percentage Variable","func":"flow.set('WaterBowlAlertOrRefillPercentage', msg.payload);","outputs":1,"noerr":0,"x":1130,"y":1100,"wires":[[]]},{"id":"db7e55c.96d87a8","type":"persist in","z":"8f5bcf27.de88","name":"AutoWaterDispense","storageNode":"57b66f5b.afe3e","x":380,"y":580,"wires":[]},{"id":"970fdff5.dd405","type":"persist out","z":"8f5bcf27.de88","name":"AutoWaterDispense","storageNode":"57b66f5b.afe3e","x":640,"y":580,"wires":[["48cbf2aa.21e8cc","32d4411d.d409ee"]]},{"id":"7c58d9ce.450358","type":"inject","z":"8f5bcf27.de88","name":"Food Tank Level Alert (Percent)","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1650,"y":1100,"wires":[["33c60db1.ef3662"]]},{"id":"33c60db1.ef3662","type":"function","z":"8f5bcf27.de88","name":"Food Tank Level Alert Variable (Percent)","func":"flow.set('FoodTankLevelAlert', msg.payload);","outputs":1,"noerr":0,"x":2040,"y":1100,"wires":[[]]},{"id":"b5ae4df4.abce4","type":"inject","z":"8f5bcf27.de88","name":"Water Tank Level Alert (Percent)","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":1160,"wires":[["49141d9f.af2964"]]},{"id":"49141d9f.af2964","type":"function","z":"8f5bcf27.de88","name":"Water Tank Level Alert Variable (Percent)","func":"flow.set('WaterTankLevelAlert', msg.payload);","outputs":1,"noerr":0,"x":1140,"y":1160,"wires":[[]]},{"id":"ca37046d.501d88","type":"inject","z":"8f5bcf27.de88","name":"Food Bowl Level Alert (Percent)","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1650,"y":1160,"wires":[["b0e35867.cf1d08"]]},{"id":"b0e35867.cf1d08","type":"function","z":"8f5bcf27.de88","name":"Food Bowl Level Alert Variable (Percent)","func":"flow.set('FoodBowlLevelAlert', msg.payload);","outputs":1,"noerr":0,"x":2040,"y":1160,"wires":[[]]},{"id":"f768b31b.823bf","type":"function","z":"8f5bcf27.de88","name":"Tank Sensor Reading To Percentage","func":"let reading = parseInt(msg.payload);\nlet readingMin = flow.get('WaterTankEmpty');\nlet readingMax = flow.get('WaterTankFull');\nlet percentage = (reading - readingMin) * 100 / (readingMax - readingMin);\nif (percentage < 0) {\n    msg.payload = 0;\n}\nelse if (percentage > 100) {\n    msg.payload = 100;\n}\nelse {\n    msg.payload = percentage;\n}\n\nmsg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["8eb7c36f.9ffc7","e68e052b.ddea78"]]},{"id":"9cf2edb7.55577","type":"function","z":"8f5bcf27.de88","name":"Bowl Sensor Reading To Percentage","func":"let reading = parseInt(msg.payload);\nlet readingMin = flow.get('WaterBowlEmptyWeight');\nlet readingMax = flow.get('WaterBowlFullWeight');\nlet percentage = (reading - readingMin) * 100 / (readingMax - readingMin);\nif (percentage < 0) {\n    msg.payload = 0;\n}\nelse if (percentage > 100) {\n    msg.payload = 100;\n}\nelse {\n    msg.payload = percentage;\n}\n\nmsg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["18453885.b8a2c7","b23530ff.40684","2eaae7e4.b50b18"]]},{"id":"5185d074.edf09","type":"function","z":"8f5bcf27.de88","name":"Bowl Sensor Reading To Percentage","func":"let reading = parseInt(msg.payload);\nlet readingMin = flow.get('FoodBowlEmptyWeight');\nlet readingMax = flow.get('FoodBowlFullWeight');\nlet percentage = (reading - readingMin) * 100 / (readingMax - readingMin);\nif (percentage < 0) {\n    msg.payload = 0;\n}\nelse if (percentage > 100) {\n    msg.payload = 100;\n}\nelse {\n    msg.payload = percentage;\n}\n\nmsg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":280,"wires":[["1b0192d1.84053d","ed8f125d.f0f97","712e9566.d1b78c"]]},{"id":"dc4fa422.95aee8","type":"function","z":"8f5bcf27.de88","name":"Tank Sensor Reading To Percentage","func":"let reading = parseInt(msg.payload);\nlet readingMin = flow.get('FoodTankEmpty');\nlet readingMax = flow.get('FoodTankFull');\nlet percentage = (reading - readingMin) * 100 / (readingMax - readingMin);\nif (percentage < 0) {\n    msg.payload = 0;\n}\nelse if (percentage > 100) {\n    msg.payload = 100;\n}\nelse {\n    msg.payload = percentage;\n}\n\nmsg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":160,"wires":[["9e530361.9d8a2","51d8624c.8a38ec"]]},{"id":"3b2da36e.93f62c","type":"inject","z":"8f5bcf27.de88","name":"Pet Is Drinking Distance","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":1220,"wires":[["f31d5229.0b306"]]},{"id":"f31d5229.0b306","type":"function","z":"8f5bcf27.de88","name":"Pet Is Drinknig Distance Variable","func":"flow.set('PetIsDrinkingDistanceVariable', msg.payload);","outputs":1,"noerr":0,"x":1110,"y":1220,"wires":[[]]},{"id":"f56d107a.c59d2","type":"inject","z":"8f5bcf27.de88","name":"Pet Is Eating Distance","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1620,"y":1220,"wires":[["ac4a9554.c95d68"]]},{"id":"ac4a9554.c95d68","type":"function","z":"8f5bcf27.de88","name":"Pet Is Eating Distance Variable","func":"flow.set('PetIsEatingDistanceVariable', msg.payload);","outputs":1,"noerr":0,"x":2010,"y":1220,"wires":[[]]},{"id":"8a5b4fa7.6f711","type":"comment","z":"8f5bcf27.de88","name":"Food Dispenser Handling","info":"","x":2290,"y":100,"wires":[]},{"id":"36172420.d7c4cc","type":"comment","z":"8f5bcf27.de88","name":"Water Dispenser Handling","info":"","x":750,"y":100,"wires":[]},{"id":"619931bc.486ef","type":"comment","z":"8f5bcf27.de88","name":"User Settings","info":"","x":1370,"y":820,"wires":[]},{"id":"29520ab.33a8af6","type":"inject","z":"8f5bcf27.de88","name":"Pet Drinking Alert","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":1280,"wires":[["bb09fbb0.50ac48"]]},{"id":"bb09fbb0.50ac48","type":"function","z":"8f5bcf27.de88","name":"Pet Drinking Alert Variable","func":"flow.set('PetDrinkingAlert', msg.payload);","outputs":1,"noerr":0,"x":1090,"y":1280,"wires":[[]]},{"id":"4ca603eb.28621c","type":"inject","z":"8f5bcf27.de88","name":"Pet Eating Alert","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1600,"y":1280,"wires":[["4f687b72.408954"]]},{"id":"4f687b72.408954","type":"function","z":"8f5bcf27.de88","name":"Pet Eating Alert Variable","func":"flow.set('PetEatingAlert', msg.payload);","outputs":1,"noerr":0,"x":1990,"y":1280,"wires":[[]]},{"id":"9f3a913a.4a961","type":"inject","z":"8f5bcf27.de88","name":"Water Dispense Time (Button)","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":1340,"wires":[["617a5162.f02bf"]]},{"id":"617a5162.f02bf","type":"function","z":"8f5bcf27.de88","name":"Water Dispense Time (Button) Variable","func":"flow.set('WaterDispenseTimeButton', msg.payload);","outputs":1,"noerr":0,"x":1130,"y":1340,"wires":[[]]},{"id":"97b596d4.529dc8","type":"inject","z":"8f5bcf27.de88","name":"Water Dispense Time (Auto)","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":1400,"wires":[["d95dc85f.4b8b88"]]},{"id":"d95dc85f.4b8b88","type":"function","z":"8f5bcf27.de88","name":"Water Dispense Time (Auto) Variable","func":"flow.set('WaterDispenseTimeAuto', msg.payload);","outputs":1,"noerr":0,"x":1130,"y":1400,"wires":[[]]},{"id":"7692ee71.7e9c8","type":"inject","z":"8f5bcf27.de88","name":"Food Dispense Time (Button)","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1650,"y":1340,"wires":[["92ea3a7a.b7ad18"]]},{"id":"92ea3a7a.b7ad18","type":"function","z":"8f5bcf27.de88","name":"Food Dispense Time (Button) Variable","func":"flow.set('FoodDispenseTimeButton', msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1340,"wires":[[]]},{"id":"8db79da.3ee416","type":"inject","z":"8f5bcf27.de88","name":"Food Dispense Time (Auto)","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1640,"y":1400,"wires":[["5ea51b89.c98544"]]},{"id":"5ea51b89.c98544","type":"function","z":"8f5bcf27.de88","name":"Food Dispense Time (Auto) Variable","func":"flow.set('FoodDispenseTimeAuto', msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1400,"wires":[[]]},{"id":"3312becb.a6dca2","type":"telegram sender","z":"8f5bcf27.de88","name":"","bot":"edba270f.0d0e88","x":1410,"y":720,"wires":[[]]},{"id":"95a7c3f0.8af9","type":"function","z":"8f5bcf27.de88","name":"Alert To Telegram Message","func":"let content = msg.payload;\ncontent += `\\nView dashboard: `;\ncontent += flow.get('NgrokAddress') + `\\n`;\nmsg.payload = {}\nmsg.payload.content = content;\nmsg.payload.chatId = flow.get('TelegramChatId');\nmsg.payload.type = \"message\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":720,"wires":[["3312becb.a6dca2"]]},{"id":"f0b4a0ac.12693","type":"delay","z":"8f5bcf27.de88","name":"Output message every 15 seconds","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1240,"y":460,"wires":[["92b855f5.3fd488"]]},{"id":"e9202118.7dc1c","type":"delay","z":"8f5bcf27.de88","name":"Output message every 15 seconds","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2580,"y":500,"wires":[["6496bdc.1cff844"]]},{"id":"2b2fa666.4b269a","type":"comment","z":"8f5bcf27.de88","name":"Alerts Handling","info":"","x":1200,"y":580,"wires":[]},{"id":"712e9566.d1b78c","type":"function","z":"8f5bcf27.de88","name":"Food Bowl Percent Variable","func":"flow.set('FoodBowlPercent', parseInt(msg.payload));","outputs":1,"noerr":0,"x":2300,"y":360,"wires":[[]]},{"id":"e6259378.62f53","type":"switch","z":"8f5bcf27.de88","name":"Check Bowl's Overflow","property":"FoodBowlPercent","propertyType":"flow","rules":[{"t":"lt","v":"FoodBowlOverflowPercent","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2780,"y":640,"wires":[["1e4dc6d3.612339"],["dfd2936.decbf7"]]},{"id":"dfd2936.decbf7","type":"function","z":"8f5bcf27.de88","name":"Avoided Overflow Message","func":"msg.payload = `Food wasn't automatically dispensed to avoid bowl's overflow.`;\nmsg.payload += `\\nCurrent food level in bowl: `;\nmsg.payload += flow.get('FoodBowlPercent') + `%`;\nreturn msg\n","outputs":1,"noerr":0,"x":3040,"y":640,"wires":[["6496bdc.1cff844"]]},{"id":"6496bdc.1cff844","type":"mqtt out","z":"8f5bcf27.de88","name":"Alerts","topic":"alerts","qos":"","retain":"","broker":"c744c61f.43c208","x":3070,"y":380,"wires":[]},{"id":"f45a27ff.e86768","type":"inject","z":"8f5bcf27.de88","name":"Food Bowl Overflow Threshold (Percent)","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1680,"y":1460,"wires":[["52387141.04503"]]},{"id":"52387141.04503","type":"function","z":"8f5bcf27.de88","name":"Food Bowl Overflow Threshold (Percent) Variable","func":"flow.set('FoodBowlOverflowPercent', msg.payload);","outputs":1,"noerr":0,"x":2070,"y":1460,"wires":[[]]},{"id":"72f4c9a9.baa398","type":"inject","z":"8f5bcf27.de88","name":"Ngrok Address","topic":"","payload":"YOUR NGROK ADDRESS","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1240,"y":1520,"wires":[["b05d1d21.730e4"]]},{"id":"b05d1d21.730e4","type":"function","z":"8f5bcf27.de88","name":"Ngrok Address Variable","func":"flow.set('NgrokAddress', msg.payload);","outputs":1,"noerr":0,"x":1510,"y":1520,"wires":[[]]},{"id":"307e93e6.7dcd8c","type":"inject","z":"8f5bcf27.de88","name":"Telegram Chat Id","topic":"","payload":"YOUR TELEGRAM CHAT ID","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":1580,"wires":[["2f903960.385ec6"]]},{"id":"2f903960.385ec6","type":"function","z":"8f5bcf27.de88","name":"Telegram Chat Id Variable","func":"flow.set('TelegramChatId', msg.payload);","outputs":1,"noerr":0,"x":1510,"y":1580,"wires":[[]]}]